#blocPage {
	font-family: "Helvetica35Thin", arial, sans-serif;
	width: 900px;
	margin: auto;
}

@media all and (max-width: 1024px) {
	#blocPage {
		width: auto;
	}
}

#identite {
	display: flex;
	align-items: center;
}

@media all and (max-width: 1024px) {
	#identite {
		flex-direction: column;
	}
}

#bordure {
	width: 1080px;
	display: flex;
	margin: auto;
}

@media all and (max-width: 1024px) {
	#bordure {
		flex-direction: column-reverse;
		width: auto;
	}
}

#bordureGauche {
	background-color: #ff8a65;
	width: 20%;
	min-width: 250px;
}

@media all and (max-width: 1024px) {
	#bordureGauche {
		min-width: 0px;
		width: 100%;
	}
}

#maphoto {
	background-color: #ff8a65;
	width: 20%;
	text-align: center;
	min-width: 250px;
}

@media all and (max-width: 1024px) {
	#maphoto {
		width: 100%;
	}
}

@media all and (max-width: 375px) {
	#maphoto {
		width: 100%;
	}
}

aside h3 {
	background-color: #424242;
	color: #ff8a65;
	text-transform: uppercase;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

aside p {
	text-align: justify;
	margin-left: 30px;
	max-width: 200px;
}

@media all and (max-width: 1024px) {
	aside p {
		max-width: 700px;
		text-align: center;
	}
}

@media all and (max-width: 770px) {
	aside p {
		max-width: 600px;
		text-align: center;
	}
}

@media all and (max-width: 600px) {
	aside p {
		max-width: 375px;
		text-align: center;
	}
}

@media all and (max-width: 375px) {
	aside p {
		max-width: 350px;
		text-align: center;
	}
}

.loisirs {
	padding-top: 400px;
}

@media all and (max-width: 1024px) {
	.loisirs {
		padding-top: 0px;
	}
}

.photo {
	padding-top: 30px;
	padding-bottom: 30px;
}

.nom {
	text-transform: uppercase;
	font-size: 50px;
}

@media all and (max-width: 375px) {
	.nom {
		font-size: 40px;
	}
}

.prenom {
	color: #ff8a65;
}

.dev {
	border-bottom: 2px solid #ff8a65;
}

#nomprenom {
	line-height: 15px;
	margin-left: 90px;
}

@media all and (max-width: 770px) {
	#nomprenom {
		line-height: 50px;
	}
}

@media all and (max-width: 375px) {
	#nomprenom {
		margin-left: 0px;
	}
}

article h3 {
	text-transform: uppercase;
	border-bottom: 2px solid #ff8a65;
	padding-bottom: 2px;
}

#bordureDroite {
	margin-left: 25px;
	width: 650px;
}

@media all and (max-width: 1024px) {
	#bordureDroite {
		width: 100%;
		margin-left: 0px;
	}
}

#recommandations {
	display: flex;
	justify-content: space-between;
}

.formation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 20px;
}

@media all and (max-width: 1024px) {
	.formation {
		margin-right: 150px;
	}
}

@media all and (max-width: 770px) {
	.formation {
		flex-direction: column;
	}
}

.ecole {
	width: 500px;
}

@media all and (max-width: 770px) {
	.ecole {
		width: 600px;
	}
}

@media all and (max-width: 600px) {
	.ecole {
		width: 350px;
	}
}

@media all and (max-width: 375px) {
	.ecole {
		width: 320px;
	}
}

section h3 {
	text-transform: uppercase;
}

section h4 {
	text-transform: uppercase;
}

section ul {
	font-size: 14px;
	text-align: justify;
}

section p {
	font-size: 14px;
}

.fontAwesome {
	display: flex;
	align-items: center;
	border-bottom: 2px solid #ff8a65;
}

.icone {
	font-size: 30px;
	padding-right: 20px;
}

.fontAwesomeDate {
	display: flex;
	align-items: baseline;
}

.iconeDates {
	font-size: 10px;
	color: #ff8a65;
	padding-right: 10px;
}

.iconeLoisirs {
	align-items: center;
	font-size: 30px;
}

.recommandation {
	display: flex;
}
