body,
html {
	margin: 0;
	padding: 0;
}

#blocPage {
	font-family: "Open Sans", sans-serif;
	width: 900px;
	margin: auto;
}

#identite {
	display: flex;
	align-items: center;
}

#bordure {
	width: 1080px;
	display: flex;
	margin: auto;
}

#bordureGauche {
	background-color: #ff8a65;
	width: 20%;
	min-width: 250px;
}

#photo {
	background-color: #ff8a65;
	width: 20%;
	text-align: center;
	min-width: 250px;
}

aside h3 {
	background-color: #424242;
	color: #ff8a65;
	text-transform: uppercase;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

aside p {
	text-align: justify;
	margin-left: 30px;
	max-width: 200px;
}

.loisirs {
	padding-top: 400px;
}

.photo {
	padding-top: 30px;
	padding-bottom: 30px;
}

.nom {
	text-transform: uppercase;
	font-size: 50px;
}

.prenom {
	color: #ff8a65;
}

.dev {
	border-bottom: 2px solid #ff8a65;
}

#nomprenom {
	line-height: 15px;
	margin-left: 90px;
}

article h3 {
	text-transform: uppercase;
	border-bottom: 2px solid #ff8a65;
	padding-bottom: 2px;
}

#bordureDroite {
	margin-left: 25px;
	width: 650px;
}

#recommandations {
	display: flex;
	justify-content: space-between;
}

.contenuBordureDroite {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 20px;
}

.ecole {
	width: 80%;
}

section h3 {
	text-transform: uppercase;
}

section h4 {
	text-transform: uppercase;
}

section ul {
	font-size: 14px;
	text-align: justify;
}

section p {
	font-size: 14px;
}

.titreBordureDroite {
	display: flex;
	align-items: center;
	border-bottom: 2px solid #ff8a65;
}

.icone {
	font-size: 30px;
	padding-right: 20px;
}

.fontAwesomeDate {
	display: flex;
	align-items: baseline;
}

.iconeDates {
	font-size: 10px;
	color: #ff8a65;
	padding-right: 10px;
}

.iconeLoisirs {
	display: flex;
	justify-content: space-around;
	font-size: 30px;
	color: #424242;
}

.iconesHobbies {
	border: 2px solid #424242;
	border-radius: 50%;
	width: 56px;
	height: 45px;
	text-align: center;
}

.recommandation {
	display: flex;
}

@media all and (max-width: 1024px) {
	#blocPage {
		width: auto;
		margin-left: 5px;
	}
}

@media all and (max-width: 1024px) {
	#identite {
		flex-direction: column;
	}
}

@media all and (max-width: 1024px) {
	#bordure {
		flex-direction: column-reverse;
		width: auto;
	}
}

@media all and (max-width: 1024px) {
	#bordureGauche {
		min-width: 0px;
		width: 100%;
	}
}

@media all and (max-width: 1024px) {
	#photo {
		width: 100%;
	}
}

@media all and (max-width: 1024px) {
	aside p {
		max-width: 900px;
		text-align: center;
	}
}

@media all and (max-width: 1024px) {
	.loisirs {
		padding-top: 0px;
	}
}

@media all and (max-width: 1024px) {
	#bordureDroite {
		width: 100%;
		margin-left: 0px;
	}
}

@media all and (max-width: 1024px) {
	#nomprenom {
		margin-left: 0px;
	}
}

/*
@media all and (max-width: 1024px) {
	.formation {
		margin-right: 100px;
	}
}
*/

@media all and (max-width: 720px) {
	.contenuBordureDroite {
		flex-direction: column;
	}
}

@media all and (max-width: 720px) {
	aside p {
		max-width: 800px;
		text-align: center;
		margin-left: 0;
	}
}

@media all and (max-width: 720px) {
	#nomprenom {
		line-height: 50px;
		margin-left: 0px;
	}
}

@media all and (max-width: 720px) {
	.nom {
		font-size: 40px;
	}
}

@media all and (max-width: 720px) {
	#nomprenom {
		margin-left: 0px;
	}
}

@media all and (max-width: 720px) {
	.ecole {
		width: 90%;
	}
}

/*
@media all and (max-width: 600px) {
	aside p {
		max-width: 375px;
		text-align: center;
	}
}

@media all and (max-width: 600px) {
	.ecole {
		width: 350px;
	}
}

@media all and (max-width: 375px) {
	#maphoto {
		width: 100%;
	}
}

@media all and (max-width: 375px) {
	aside p {
		max-width: 350px;
		text-align: center;
	}
}


@media all and (max-width: 375px) {
	.nom {
		font-size: 40px;
	}
}

@media all and (max-width: 375px) {
	#nomprenom {
		margin-left: 0px;
	}
}

@media all and (max-width: 375px) {
	.ecole {
		width: 320px;
	}
}
*/
