body,
html {
	margin: 0;
	padding: 0;
}

#blocPage {
	font-family: "Open Sans", sans-serif;
	width: 900px;
	margin: auto;
}

#identite {
	display: flex;
	align-items: center;
}

.main {
	width: 1080px;
	display: flex;
	margin: auto;
}

.bordureGauche {
	background-color: #558d9e;
	width: 20%;
	min-width: 300px;
}

.photo {
	background-color: #558d9e;
	width: 20%;
	text-align: center;
	min-width: 300px;
	padding-top: 20px;
}

aside h3 {
	background-color: #424242;
	color: #558d9e;
	text-transform: uppercase;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

aside p {
	text-align: center;
	margin-left: 30px;
	max-width: 240px;
	font-weight: bold;
}

.loisirs {
	padding-top: 420px;
}

.photoCv {
	padding-top: 30px;
	padding-bottom: 30px;
}

.nom {
	text-transform: uppercase;
	font-size: 50px;
}

.prenom {
	color: #558d9e;
}

.dev {
	border-bottom: 2px solid #558d9e;
}

.nomprenom {
	line-height: 15px;
	margin-left: 90px;
}

article h3 {
	text-transform: uppercase;
	border-bottom: 2px solid #558d9e;
	padding-bottom: 2px;
}

.bordureDroite {
	margin-left: 25px;
	width: 650px;
}

.contenuBordureDroite {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 20px;
}

strong {
	font-weight: bold;
}

.ecole {
	width: 80%;
}

section h3 {
	text-transform: uppercase;
}

section h4 {
	text-transform: uppercase;
}

section ul {
	font-size: 14px;
	text-align: justify;
}

section p {
	font-size: 14px;
}

.titreBordureDroite {
	display: flex;
	align-items: center;
	border-bottom: 2px solid #558d9e;
}

.icone {
	font-size: 30px;
	padding-right: 20px;
}

.fontAwesomeDate {
	display: flex;
	align-items: baseline;
}

.iconeDates {
	font-size: 10px;
	color: #558d9e;
	padding-right: 10px;
}

.iconeLoisirs {
	display: flex;
	justify-content: space-around;
	font-size: 30px;
	margin-bottom: 10px;
}

.iconesHobbies {
	border: 2px solid;
	border-radius: 50%;
	width: 56px;
	height: 45px;
	text-align: center;
}

.recommandation {
	display: flex;
	justify-content: space-around;
}

@media all and (max-width: 1050px) {
	#blocPage {
		width: auto;
	}

	body,
	html {
		margin-left: 5px;
		margin-right: 5px;
	}

	#identite {
		flex-direction: column;
	}

	.main {
		flex-direction: column-reverse;
		width: auto;
	}

	.bordureGauche {
		min-width: 0px;
		width: 100%;
	}

	.photo {
		width: 100%;
	}

	aside p {
		max-width: 900px;
		text-align: center;
	}

	.loisirs {
		padding-top: 0px;
	}

	.bordureDroite {
		width: 100%;
		margin-left: 0px;
	}

	.nomprenom {
		margin-left: 0px;
	}
}

@media all and (max-width: 720px) {
	body,
	html {
		margin-left: 5px;
		margin-right: 5px;
	}

	.contenuBordureDroite {
		flex-direction: column;
	}

	aside p {
		max-width: 800px;
		text-align: center;
		margin-left: 0;
	}

	.nomprenom {
		line-height: 50px;
		margin-left: 0px;
	}

	.nom {
		font-size: 40px;
	}

	.ecole {
		width: 90%;
	}
}
